/* UNIVERSAL STYLES */
* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 16px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/* Navigation Sidebar Position */

.sidebar_container {
    width: 100%;
    
    background-color: #fff2eb;
    
}

.sidebar_box {
    width: fit-content;
    height: 100vh;
    background-color: #9c7a68;
    position: fixed;
    text-align: left;
    z-index: 1;
    overflow-x: hidden;
    opacity: 0;
    left: -500px;
    pointer-events: none;
    transition: 0.3s;
}

.active.sidebar_box{
    opacity: 1;
    left: 0px;
    pointer-events: fill;
}


/* Menu bar animation */
.menu_icon_box {
    z-index: 2;
    width: fit-content;
    height: auto;
    margin: 30px;
    position: absolute;
    cursor: pointer;
    position: fixed;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: #000000;
  margin: 6px 0;
  transition: 0.2s;
}

.active .bar1 {
  transform: translate(0, 11px) rotate(-45deg);
}

.active .bar2 {opacity: 0;}

.active .bar3 {
  transform: translate(0, -11px) rotate(45deg);
}

/*Navigation style*/
nav {
    padding-top: 200px;
}

nav ul {
    margin: 0px 100px;
}

nav ul li {
    list-style: none;
    
}


nav ul li a {
    color:#000000;
    font-size: 1.6rem;
    padding: 10px 30px;
    display: block;
    text-decoration: none;
    transition: 0.3s;
}

nav ul li a:hover {
    color: red;
}

/*Home Section Style*/
.home_section {
    height: 100vh;
    text-align: center;
    background-color: #fff2eb;

}

.about_section {
    height: 100vh;
}

.pwfooter_section {
    position: relative;
    width: 100%;
    text-align: center;
    color:#fff2eb;
    padding: 10px;
    background-color: #4c2a2a;
}
